.slider-container {
  margin: 20px 0;
  background:#ffffff;
}

.slider-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px 90px;
  width: 90%;
  height: 70%; 
  border-radius: 8px;
}

